<div class="list_main">
  <div class="list_name">
    @switch (langService.language$ | async) { @case ('ru') { Список транзакций:
    } @case ('en'){ List of transactions: }}
  </div>

  <mat-form-field class="list_filter">
    <mat-label>
      @switch (langService.language$ | async) { @case ('ru') { Тип: } @case
      ('en'){ Type: }}</mat-label
    >
    <mat-select [formControl]="typeControl">
      @for (type of types; track type) {
      <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="list_filter">
    <mat-label
      >@switch (langService.language$ | async) { @case ('ru') { Стоимость: }
      @case ('en'){ Amount: }}</mat-label
    >
    <mat-select [formControl]="amountControl">
      @for (amount of amountes; track amount) {
      <mat-option [value]="amount.value">{{ amount.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="list_filter">
    <mat-label
      >@switch (langService.language$ | async) { @case ('ru') { Категория: }
      @case ('en'){ Category: }}</mat-label
    >
    <mat-select [formControl]="categoriesControl" multiple>
      @for (category of categoryList; track category) {
      <mat-option [value]="category">{{ category }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button matButton="tonal" (click)="resetFilterButton()">
    <p>
      @switch (langService.language$ | async) { @case ('ru') { Очистить фильтры
      } @case ('en'){ Clear filters }}
    </p>
  </button>

  @for (item of filterTransaction; track $index) {
  <div class="list_for">
    @if ($index <= numberOfElement * numberOfPages-1 && $index >= numberOfPages
    * numberOfElement - numberOfElement) {
    <div class="list_body">
      <div>
        @switch (langService.language$ | async) { @case ('ru') { Тип: } @case
        ('en'){ Type: }} {{ item.type }}
      </div>
      <div>
        @switch (langService.language$ | async) { @case ('ru') { Стоимость: }
        @case ('en'){ Amount: }}{{ item.amount }}
      </div>
      <div>
        @switch (langService.language$ | async) { @case ('ru') { Категория: }
        @case ('en'){ Category: }}{{ item.category }}
      </div>
      <div>
        @switch (langService.language$ | async) { @case ('ru') { Дата: } @case
        ('en'){ Date: }}{{ item.date | date : "dd.MM.yyyy" }}
      </div>
      <div>{{ item.description }}</div>
    </div>
    <div class="list_button">
      <button
        style="margin-bottom: 3px"
        matButton="tonal"
        (click)="deleteButton(item._id)"
      >
        <p>
          @switch (langService.language$ | async) { @case ('ru') { Удалить }
          @case ('en'){ Delete }}
        </p>
      </button>
      <button matButton="tonal" (click)="editButton(item)">
        <p>
          @switch (langService.language$ | async) { @case ('ru') { Править }
          @case ('en'){ Edit }}
        </p>
      </button>
    </div>
    }
  </div>
  }
  <button (click)="incrementPage()">вперед</button>
  <button (click)="decrementPage()">назад</button>
  <p>{{ numberOfPages }}</p>
</div>
