<div class="center">
  <div class="color_white">
    <form [formGroup]="loginForm">
      <div>
        <mat-form-field style="width: 240px">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            (blur)="updateErrorMessage()"
            required
          />
          @if (loginForm.controls["email"].invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Enter your password*</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide() ? 'password' : 'text'"
          />
          <button
            matIconButton
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
    <div style="display: flex; flex-direction: column;">
      <button matButton="tonal" (click)="submit()">Войти</button>
    </div>
    <div>
      <button matButton="tonal" class="dooble-button">
        <a
          style="text-decoration: none; color: #3e4759"
          [routerLink]="['/authentication']"
          >Регистрация</a
        >
      </button>
      <button matButton="tonal" class="dooble-button">
        <a
          style="text-decoration: none; color: #3e4759"
          [routerLink]="['/login']"
          >Вход</a
        >
      </button>
    </div>
  </div>
</div>
