.list_name {
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d6b;
}

.list_body {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d6b;
}

.list_main {
  background-color: white;
  padding: 20px;
  margin: 5px;
  margin-top: 0px;
  margin-right: 30px;
  border-radius: 50px;
}

.list_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list_for {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 249, 251);
  margin: 7px;
  padding: 7px;
  border-radius: 20px;
}

.list_filter {
  margin-right: 0.5%;
  margin-left: 0.5%;
}
