:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-mdc-radio-button {
  margin-left: 16px;
}

.form {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  margin-left: 30px;
}
