.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #a1edeb;
  background: linear-gradient(180deg, rgba(161, 237, 235, 1) 0%, rgba(191, 205, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.dooble-button {
  width: 50rem;
  margin-top: 20px;
}

.color_white {
  width: 20rem;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
}

.button_menu {
  display: flex;
  justify-content: space-between;
}

.inputs_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  color: #3e4759;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}