.main_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main {
  min-height: 100%;
  width: 100vw;
  background: #a1edeb;
  background: linear-gradient(180deg, rgba(161, 237, 235, 1) 0%, rgba(191, 205, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}