.name-logout {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  background-color: #f3f3f36e;
  padding: 10px;
  border-radius: 20px;
}

.lang {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d6b;
}

.button_header {
  margin: 5px;
  margin-left: 0px;
}
