<div class="header">
  <div class="name-logout">
    <div>
      @switch (langService.language$ | async) {
        @case ('ru') {
          Имя:
        }
        @case ('en') {
          Name:
        }
      }

      {{ usrName() }}
    </div>
    <button
      style="background-color: #f3f3f36e"
      class="button_header"
      matButton="tonal"
      (click)="logoutButton()"
    >
      <p>
        @switch (langService.language$ | async) {
          @case ('ru') {
            Выйти из аккаунта
          }
          @case ('en') {
            Logout with accaunt
          }
        }
      </p>
    </button>
  </div>
  <div class="lang">
    <div>
      <input
        type="radio"
        name="language"
        value="ru"
        [checked]="langService.getLanguage() === 'ru'"
        (change)="changeLanguage('ru')"
      />
      Русский
    </div>
    <div>
      <input
        type="radio"
        name="language"
        value="en"
        [checked]="langService.getLanguage() === 'en'"
        (change)="changeLanguage('en')"
      />
      English
    </div>
  </div>
</div>
